
# config/packages/security.yaml
security:
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  role_hierarchy:
    ROLE_ADMIN: [ROLE_STAFF]    # Admin inherits Staff

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      custom_authenticator: App\Security\LoginFormAuthenticator

      logout:
        path: app_logout
        target: login

      remember_me:
        secret: '%kernel.secret%'
        lifetime: 604800
        path: /

 
  access_control:
  - { path: ^/login$, roles: PUBLIC_ACCESS }
  - { path: ^/register$, roles: PUBLIC_ACCESS }
  - { path: ^/assets, roles: PUBLIC_ACCESS }
  - { path: ^/(_profiler|_wdt), roles: PUBLIC_ACCESS }

  # Allow staff and admin to access destinations (for management)
  - { path: ^/admin/destinations, roles: [ROLE_STAFF, ROLE_ADMIN] }
  
  # Allow staff to access their own destinations and hotels
  - { path: ^/staff/destinations, roles: ROLE_STAFF }
  - { path: ^/staff/hotels, roles: ROLE_STAFF }
  
  # Allow admin to access other admin areas
  - { path: ^/admin/hotels, roles: ROLE_ADMIN }
  - { path: ^/admin/users, roles: ROLE_ADMIN }
  - { path: ^/admin/dashboard, roles: ROLE_ADMIN }
  
  # Allow staff to access staff dashboard
  - { path: ^/staff, roles: ROLE_STAFF }